h1 {

font-style: italic;
font-size: 5em;
color: #20B2AA;

}

body{
  background-image: url("https://www.colourbox.com/preview/1993550-3d-illustration-of-thermometer-with-warm-temperature.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

th{
  text-align: left;
  background-color: #20B2AA;
  color: white;
  font-style: italic;
}

#original{
  margin-left: 1em;
}

#temp{
  margin-left: 2em;
}
