h1 {

font-style: italic;
font-size: 5em;
color: #20B2AA;

}

body{
  background-image: url("https://www.colourbox.com/preview/1993550-3d-illustration-of-thermometer-with-warm-temperature.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.letras{
  font-family:'Audiowide';
  font-style: normal;
  font-weight: 1000;
  color:#191970;
}
